.vscode
.nimcache/
nimcache/
nimblecache/
htmldocs/
images/
images_fromdb/
src/examples/local_images/
nimble.develop
nimble.paths
client
deepseek.nim
deepseek
chatgpt/chatgpt
examples/upcount
yottadb_test
src/examples/clientser
src/examples/table_test
src/examples/upcount
src/tests/yottadb_test_threaded
src/examples/tx
src/examples/tx_thread
src/examples/ydb_set_thread
src/examples/caret
src/tests/dsl_test
src/libs/dsl_templates
src/tests/dsl_lock_test
src/examples/ydbSet_thread
src/examples/benchmark
src/examples/benchmark2
src/examples/say_hello
src/examples/hello_customer
src/examples/dsl
src/tests/dsl2_test
src/tests/dsl3_test
src/tests/dsl4_test
src/serialization/clientser
src/serialization/binser_test
src/tests/serialization_test
src/examples/image_loader
src/tests/dumptree
src/examples/images
src/3n1/runner
src/3n1/solver
doc/about_lothar_joeckel.md
src/examples/dsl_lock_test
doc/blog_correction.md
src/tests/ydbdsl_test
src/tests/profile_results.txt
src/tests/binary
src/tests/callin
src/tests/delexcl
src/tests/setget
src/tests/nextnode
src/tests/setgetlocal
src/tests/data
src/tests/locks
src/tests/zwr
src/tests/delete
src/tests/increment
src/tests/special_vars
doc/trigger.md
